<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PlayPlay</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="row" id="pwd-container">
        <div class="col-md-offset-4 col-md-4">
          <section class="login-form text-center">
            <h3><i class="fa fa-music"></i> Музыкальный плеер</h3>
            <a class="btn btn-lg btn-primary" href="/auth/vkontakte"><i class="fa fa-vk"></i> войти</a>
          </section>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
