/*
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";
@import url(http://fonts.googleapis.com/css?family=Roboto:400italic,100,700italic,300,700,100italic,300italic,400&subset=latin,cyrillic);

body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
}

.login-form {
  margin-top: 60px;
  h3 {
    text-transform: uppercase;
  }
}

.loader {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  z-index: 2000;
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  overflow: hidden;
}

.loader-content {
  color: #29d;
  width: 128px;
  height: 20px;
  overflow: auto;
  margin: auto;
  position: absolute;
  z-index: 10;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
}

.ui.buttons .rate {
  position: relative;
  float: left;
  width: .3em;
  height: 2.57142em;
  z-index: 3;
  font-size: 0.71428571rem;
  span {
    position: absolute;
    text-align: center;
    border-radius: 500rem;
    top: 50%;
    left: 50%;
    background-color: #ffffff;
    text-shadow: none;
    margin-top: -0.892855em;
    margin-left: -0.892855em;
    width: 1.78571em;
    height: 1.78571em;
    line-height: 1.9em;
    color: rgba(0, 0, 0, 0.4);
    font-style: normal;
    font-weight: bold;
    box-shadow: 0px 0px 0px 1px transparent inset;
  }
}

.song-list {
  padding: 0 5px;
}

.song-list > div {
  margin-bottom: 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.text-center {
  text-align: center;
}
.more {
  cursor: pointer;
}

.user-card {
  height: 36px;
  img {
    float: left;
    width: 36px;
    height: 36px;
  }
  .content {
    font-weight: bold;
    white-space: nowrap;
    padding-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;

    .sub.header {
      font-weight: normal;
      margin: 0em;
      padding: 0em;
      line-height: 1.2em;
      color: rgba(0, 0, 0, 0.5);
    }
  }


}

.user-card.disconnected { opacity: 0.3 }

.song-title, .playing {
  .btn-group.pull-left {
    margin-right: 10px;
  }
  .btn-group.pull-right {
    margin-left: 10px;
  }
  h6 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 0 4px 0;
  }
}

// .votes { display: none; }
.song-item .label { margin: 4px }
// .song-item:hover .votes { display: block }

body {
  margin: 0;
}

.col {
  padding: 20px;
}


.reconnect {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.8;
  background-color: #000;
  color: #fff;
  .text-center {
    position: absolute;
    top: 50%;
    width: 100%;
  }
}
.search-form {
  padding: 10px 15px;
}
.navbar-header {
  width: 25%;
}
.pt0 {
  padding-top: 0 !important;
}
#navbar {
  .nav.navbar-nav {
    min-width: 75%;
  }
}
@media (max-width: 768px) {
  .navbar-header {
    width: auto;
  }
  .filler {
    display: none;
  }
  .search-form {
    float: none !important;
  }
}

.tx-energy {
  color: #5bc0de
}
