.player-panel {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #222;
  color: white;
  .listen-button {
    cursor: pointer;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    box-sizing: border-box;
    margin-left: 20px;
    border-radius: 100%;
    border: 1px solid white;
    opacity: 0.5;
    transition: opacity background-color .5s ease-in;
    &:hover {
      background-color: hsla(0, 0%, 100%, 0.3);
    }
  }
  .listen-button.active {
    opacity: 1;
    box-shadow: 0 0 10px hsl(200, 100%, 50%), 0 0 10px hsl(200, 100%, 50%) inset;

  }

  .progress {
    margin-top: 1px;
    margin-bottom: 10px;
    height: 4px;
    background-color: transparent;
    overflow: visible;
    .progress-bar {
      background-color: white;
      box-shadow: 0 0 10px hsl(200, 100%, 50%);
    }
  }
}

