@mixin song-cell {
  height: 40px;
  padding: 5px 10px 5px 0;
}

// @mixin ellipsis {
//   // -webkit-box-orient: vertical;
//   // -webkit-line-clamp: 1;
//   // display: -webkit-box;
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
// }

.ellipsis {
  // -webkit-box-orient: vertical;
  // -webkit-line-clamp: 1;
  // display: -webkit-box;
  // white-space: nowrap;
  // overflow: hidden;
  // text-overflow: ellipsis;
  // width: 90%;
  // display: inline-block;
}

.songs-table {
  table-layout: fixed;
  width: 100%;

  tbody tr {
    &:hover {
      background-color: hsl(220, 100%, 90%);
      transition: background-color 0.1s ease-in;
    }

    .track {
      color: #999;
    }
  }

  .track {
    @include song-cell;
    width: 80px;
    text-align: right;
  }

  .song-details {
    @include song-cell;
    // width: 50%;

    .title {
      font-size: 14px;
      line-height: 14px;
    }

    .artist {
      font-size: 10px;
      line-height: 10px;
    }
  }

  .dropdown-actions {
    @include song-cell;
    width: 35px;
  }

  .duration {
    @include song-cell;
    width: 80px;
    text-align: right;
  }

  .rating {
    @include song-cell;
    width: 50px;
    text-align: center;
  }
  .setter {
    img {
      width: 25px;
      height: 25px;
      margin-right: 3px;
    }
  }

  .votes {
    @include song-cell;
    width: 250px;

    .vote {
      float: left;
      img {
        width: 25px;
        height: 25px;
        margin-right: 3px;
      }
    }

    .fine {
      img { box-shadow: 0 2px 3px #6C990B; border-bottom: 2px solid green; }
    }
    .foul {
      img { box-shadow: 0 2px 3px #FA6900; border-bottom: 2px solid red; }
    }
  }

  .actions {
    @include song-cell;
    width: 100px;
    text-align: right;
  }
}

.in-playlist {
  display: none;
  // text-align: center;
  font-size: 1.8em;
  padding-right: 3px;
}

.low-energy {
  background-color: rgba(238, 238, 238, 1);
  opacity: 0.6;
  .add-song-btn {
    display: none;
  }
}

.in-track-list {
  background-color: rgba(0, 153, 255, 0.2);
  opacity: 0.6;
  .add-song-btn {
    display: none;
  }
  .in-playlist {
    display: block !important;
  }
}
.energy {
  width: 40px;
  text-align: center;
}

.circle-image-style {
  border-radius: 100px;
}
