.users-panel {
  left: 0;
  top: 0;
  height: 100%;
  position: fixed;
  box-shadow: 0 0 10px #aaa;

  .users {
    height: 100%;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 2px;
      background-color: hsl(220, 50%, 95%);
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: hsl(220, 100%, 80%);
    }

    .user {
      position: relative;
      overflow: hidden;
      margin-bottom: 5px;
      &:hover {
        background-color: hsl(0, 0%, 98%);
        transition: background-color .2s ease-in;
      }
      img {
        float: left;
        border-radius: 100px;
        margin-right: 10px;
      }
      .username {
        float: left;
        font-size: 10pt;
        line-height: 25px;
      }

      .karma {
        line-height: 25px;
        font-size: 8pt;
      }

      .level {
        line-height: 50px;
        font-size: 20pt;
        font-weight: 100;
        margin-right: 10px;
      }
      .progress {
        position: absolute;
        left: 60px;
        right: 60px;
        margin-top: 25px;
        height: 3px;
      }
    }
  }

  .progress {
    height: 8px;
    margin-bottom: 1px;
  }
}

@media (max-width: 768px) {
  .col-sm-3 {
    position: static !important;
  }
  .users-panel > .users > div:last-child {
    display: none;
  }
}
