<div ng-show="songs.list.length">
  <table class="songs-table">
    <thead>
      <tr>
        <th class="track" width="30px">№</th>
        <th class="setter" width="30px">&nbsp;</th>
        <th class="title">Название</th>
        <th class="actions">
          <i class="fa fa-thumbs-up"></i> / <i class="fa fa-thumbs-down"></i>
        </th>
        <th class="dropdown-actions"></th>
        <th class="duration">
          <i class="fa fa-clock-o"></i> {{ totalTime() | duration }}
        </th>
        <th class="rating">
          <i class="fa fa-heart"></i>
        </th>
        <th class="votes">
          Голоса
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="song in songs.list | orderBy:'id'">
        <td class="track">{{$index + 1}}</td>
        <td class="setter" title="{{song.user.name}}"><img ng-src="{{song.user.photo}}" ng-show="song.user"></td>
        <td class="song-details">
          <span ng-bind="song.title" title="{{song.title}}" class="ellipsis title"></span>
          <br/>
          <span ng-bind="song.artist" title="{{song.artist}}" class="ellipsis artist"></span>
        </td>
        <td class="actions">
          <div ng-show="song.actions.vote">
            <div class="btn-group pull-right">
              <div class="btn btn-default" ng-click="songs.like(song)">
                <i class="fa fa-thumbs-up"></i>
              </div>
              <div class="btn btn-default" ng-click="songs.dislike(song)">
                <i class="fa fa-thumbs-down"></i>
              </div>
            </div>
          </div>
        </td>
        <td class="dropdown-actions">
          <span class="dropdown">
            <div class="btn btn-default" data-toggle="dropdown">
              <i class="fa fa-ellipsis-v"></i>
            </div>
            <ul class="dropdown-menu">
              <li ng-hide="song.copied || song.owner_id == users.currentUID">
                <a href="" ng-click="vk.add(song)">Добавить в мои аудиозаписи</a>
              </li>
              <li ng-if="song.actions.remove">
                <a href="" ng-click="songs.remove(song)">Удалить из плейлиста</a>
              </li>
            </ul>
          </span>
        </td>
        <td class="duration">{{ song.duration | duration }}</td>
        <td class="rating"><span ng-bind="song.scores"></span></td>
        <td class="votes">
          <div ng-repeat="vote in song.votes" class="vote"
               ng-class="{fine: vote.like, foul: !vote.like}"
               title="{{vote.name}}">
            <img ng-src="{{vote.photo}}">
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div style="height: 100px;">&nbsp;</div>
</div>
<div ng-hide="songs.list.length">
  <p>Здесь царит тишина. Почему бы тебе не добавить что-нибудь?</p>
</div>
