<nav class="navbar navbar-inverse navbar-fixed-top">
  <div>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Меню</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href ui-sref="main.playing">Project PlayPlay</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a href="" ui-sref="main.playing">Сейчас играет</a></li>
        <li ui-sref-active="active"><a href="" ui-sref="main.myAudio">Мои аудиозаписи</a></li>
        <li ui-sref-active="active"><a href="" ui-sref="main.popular">Популярные</a></li>
        <li ui-sref-active="active"><a href="" ui-sref="main.recommendation">Рекомендации</a></li>
        <li class="search-form pull-right">
          <form class="" role="search" ng-controller="SearchController">
            <input type="text" ui-sref="main.search" class="form-control input-sm" placeholder="Поиск" ng-model="service.query" ng-change="search()">
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="row">
  <div style="height: 50px;"></div>
  <div class="col-sm-3 col users-panel">
    <div class="filler" style="height: 50px;"></div>
    <div>
      <div class="text-muted">Добро пожаловать,</div>
      <div>
        <span>{{users.current.name}}</span>
        <a class="pull-right" href="/logout">выйти</a>
      </div>
      <div class="progress" title="Энергия: {{users.current.energy + '/' + users.current.max_energy}}">
        <div class="progress-bar progress-bar-info"
             style="width: {{users.current.energy * 100 / users.current.max_energy}}%"
        ></div>
      </div>
      <div class="progress" title="Опыт: {{users.current.lvl_exp + '/' + users.current.lvl_req}}">
        <div class="progress-bar progress-bar-warning"
             style="width: {{users.current.lvl_exp * 100 / users.current.lvl_req}}%"
        ></div>
      </div>
      <hr>
    </div>
    <!-- users -->
    <div class="users">
      <div class="user" ng-repeat="user in users.list | orderBy:['lvl']:true" ng-show="user.connected">
        <a ng-href="{{user.href}}" target="_blank"><img ng-src="{{user.photo}}"></a>
        <div class="username">
          <span><a ng-href="{{user.href}}" target="_blank">{{user.name}}</a></span>
          <div class="karma">{{user.title}}</div>
        </div>
        <div class="progress" title="Энергия: {{user.energy + '/' + user.max_energy}}">
          <div class="progress-bar progress-bar-info"
               style="width: {{user.energy * 100 / user.max_energy}}%"
          ></div>
        </div>

        <div class="level pull-right">
          <span style="font-size: 10pt">ур.</span>
          <span ng-bind="user.lvl"></span>
        </div>
      </div>
      <div style="height: 200px">&nbsp;</div>
    </div>
  </div>
  <div class="col-sm-3"></div>
  <div class="col-sm-9 col pt0">
    <div ui-view style="padding-top: 10px;"></div>
  </div>
  <div class="player-panel">
    <div player></div>
  </div>

  <div class="reconnect" ng-show="websocketService.reconnected">
    <div class="text-center">
      <i class="fa fa-cog fa-spin fa-3x fa-fw margin-bottom"></i><br>
      Потеря соединения с плеером, подключение через {{websocketService.reconnected}} секунд.
    </div>
  </div>
</div>
