<div ng-show="currentSong">
  <div class="progress">
    <div class="progress-bar" role="progressbar"></div>
  </div>
  <div class="row" style="padding-bottom: 10px">
    <div class="col-xs-3">
      <div ng-click="toggleListening()"
           class="listen-button" ng-class="{active: listening}">
        <i ng-show="listening" class="fa fa-volume-up"></i>
        <i ng-hide="listening" class="fa fa-volume-off"></i>
      </div>
    </div>
    <div class="col-xs-6 text-center">
      <div style="font-size: 16pt" ng-bind="currentSong.title"></div>
      <div style="font-size: 10pt" ng-bind="currentSong.artist"></div>
    </div>
    <div class="col-xs-3">
      <div class="pull-right" style="padding-right: 15px">
        {{timeLeft | duration}}
      </div>
    </div>
  </div>
  <div>
</div>
