<div ng-show="service.records.length">
  <table class="songs-table">
    <thead>
      <tr>
        <th class="track">&nbsp;</th>
        <th class="song-details">Название</th>
        <th class="duration"><i class="fa fa-clock-o"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="song in service.records"
          ng-class="{ 'low-energy' : users.current.energy < (song.duration * 0.2).toFixed(0), 'in-track-list' : (songs.list | filter: { aid: song.aid }).length > 0 }">
        <td class="track">
          <div class="btn btn-sm btn-default add-song-btn" ng-click="songs.add(song)"><i class="fa fa-plus-circle"></i> <span class="tx-energy">{{ song.duration * 0.2 | number: 0 }} <i class="fa fa-bolt"></i></span></div>
          <div class="in-playlist"><i class="fa fa-check-square-o"></i></div>
        </td>
        <td class="song-details">
          <span ng-bind="song.title" title="{{song.title}}" class="ellipsis title"></span>
          <br/>
          <span ng-bind="song.artist" title="{{song.artist}}" class="ellipsis artist"></span>
        </td>
        <td class="duration">{{ song.duration | duration }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="text-center" style="padding: 5px">
  <div
    class="btn btn-default btn-sm" ng-click="service.more()"
    ng-hide="service.loaded || service.loading">загрузить еще</div>
  <i class="fa fa-circle-o-notch fa-spin" ng-show="service.loading"></i>
</div>
<div style="height: 100px;">&nbsp;</div>
